## Import Libraries

In [1]:
import pandas as pd
from datetime import date

In [2]:
using_Google_colab = False
using_Anaconda_on_Mac_or_Linux = True
using_Anaconda_on_windows = False

In [3]:
if using_Google_colab:
    from google.colab import drive
    drive.mount('/content/drive')

# Data Prep for USA_Facts confirmed cases at state level

# Read file

In [4]:
if using_Google_colab:
    df_confirmed_cases = pd.read_csv('/content/drive/MyDrive/COVID_Project/input/USA_Facts/covid_confirmed_usafacts.csv')
if using_Anaconda_on_Mac_or_Linux:
    df_confirmed_cases = pd.read_csv('../input/USA_Facts/covid_confirmed_usafacts.csv')
if using_Anaconda_on_windows:
    df_confirmed_cases = pd.read_csv(r'..\input\USA_Facts\covid_confirmed_usafacts.csv') 
df_confirmed_cases = df_confirmed_cases.astype({'countyFIPS': str}).astype({'StateFIPS': str})
df_confirmed_cases

,countyFIPS,County Name,State,StateFIPS,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,...,2022-01-18,2022-01-19,2022-01-20,2022-01-21,2022-01-22,2022-01-23,2022-01-24,2022-01-25,2022-01-26,2022-01-27
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,12738,12833,12928,13019,13019,13019,13251,13251,13251,13251
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,47143,47662,48338,49168,49168,49168,50313,50313,50313,50313
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,4741,4800,4843,4902,4902,4902,5054,5054,5054,5054
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,5385,5486,5565,5663,5663,5663,5795,5795,5795,5795
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,56037,Sweetwater County,WY,56,0,0,0,0,0,0,...,9082,9184,9241,9449,9449,9449,9609,9712,9810,10007
3189,56039,Teton County,WY,56,0,0,0,0,0,0,...,8531,8638,8741,8814,8814,8814,8960,9049,9121,9195
3190,56041,Uinta County,WY,56,0,0,0,0,0,0,...,4660,4751,4827,4927,4927,4927,5034,5081,5167,5222
3191,56043,Washakie County,WY,56,0,0,0,0,0,0,...,1994,2002,2023,2025,2025,2025,2041,2066,2093,2130
3192,56045,Weston County,WY,56,0,0,0,0,0,0,...,1315,1332,1341,1349,1349,1349,1369,1387,1408,1426

In [6]:
df_confirmed_cases[df_confirmed_cases['State'] == 'CA']

,countyFIPS,County Name,State,StateFIPS,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,...,2022-01-18,2022-01-19,2022-01-20,2022-01-21,2022-01-22,2022-01-23,2022-01-24,2022-01-25,2022-01-26,2022-01-27
190,0,Statewide Unallocated,CA,6,0,0,0,0,0,0,...,10420,7532,8677,9324,10897,6270,5555,6479,6938,6998
191,6001,Alameda County,CA,6,4,4,4,5,5,5,...,199595,209230,211495,213248,215648,219112,222434,224644,225538,225647
192,6003,Alpine County,CA,6,0,0,0,0,0,0,...,119,120,120,120,120,121,123,123,123,123
193,6005,Amador County,CA,6,1,1,1,1,1,1,...,6809,7005,7030,7066,7154,7332,7431,7496,7504,7507
194,6007,Butte County,CA,6,0,0,0,0,0,0,...,27072,27865,28113,28284,28555,28821,29153,29378,29498,29560
195,6009,Calaveras County,CA,6,2,2,2,2,2,2,...,5786,5983,6009,6054,6162,6246,6420,6455,6472,6485
196,6011,Colusa County,CA,6,0,0,0,0,0,0,...,2948,2977,3004,3018,3048,3065,3084,3094,3104,3107
197,6013,Contra Costa County,CA,6,8,8,8,8,8,8,...,152896,157383,158807,160138,161761,163371,165803,167299,167944,168026
198,6015,Del Norte County,CA,6,0,0,0,0,0,0,...,4261,4323,4379,4402,4447,4502,4543,4572,4585,4589
199,6017,El Dorado County,CA,6,0,0,0,0,0,0,...,22179,22563,22740,22851,23074,23279,23777,23939,23990,23998
200,6019,Fresno County,CA,6,4,4,4,4,5,5,...,183983,188898,191292,193090,195587,197714,199432,201477,202551,202707
201,6021,Glenn County,CA,6,2,2,2,2,3,3,...,4119,4303,4314,4336,4365,4404,4465,4509,4515,4516
202,6023,Humboldt County,CA,6,3,3,3,3,4,4,...,13376,14083,14174,14251,14393,14552,14729,14783,14803,14811
203,6025,Imperial County,CA,6,5,5,5,5,5,5,...,45552,46710,47162,47621,48170,48777,49200,49729,50097,50153
204,6027,Inyo County,CA,6,0,0,0,0,0,0,...,3672,3744,3769,3776,3799,3842,3859,3889,3890,3895
205,6029,Kern County,CA,6,7,7,7,7,7,7,...,162428,166001,167342,168241,169745,171555,173035,174014,174461,174512
206,6031,Kings County,CA,6,13,14,14,14,14,14,...,40429,41915,42263,42519,43204,43749,44368,44923,45014,45053
207,6033,Lake County,CA,6,0,0,0,0,0,0,...,7953,8227,8280,8325,8407,8514,8648,8718,8737,8749
208,6035,Lassen County,CA,6,0,0,0,0,0,0,...,7506,7612,7661,7696,7723,7828,7920,7958,7961,7961
209,6037,Los Angeles County,CA,6,375,379,382,384,385,388,...,2276388,2343261,2367401,2384427,2390482,2430653,2453693,2468026,2472960,2473095
210,6039,Madera County,CA,6,3,3,3,3,3,3,...,29448,30470,30695,30892,31262,31726,32269,32557,32738,32754
211,6041,Marin County,CA,6,6,6,6,6,6,6,...,27759,28438,28675,28900,29221,29509,29790,30007,30108,30131
212,6043,Mariposa County,CA,6,0,0,0,0,0,0,...,1918,1995,2003,2009,2031,2066,2095,2110,2115,2117
213,6045,Mendocino County,CA,6,0,0,0,0,0,0,...,10328,10732,10779,10842,10975,11233,11426,11523,11571,11592
214,6047,Merced County,CA,6,2,3,3,3,3,3,...,52800,53996,54345,54583,54914,55493,55946,56406,56468,56481
215,6049,Modoc County,CA,6,0,0,0,0,0,0,...,638,641,642,645,647,651,654,654,654,654
216,6051,Mono County,CA,6,1,1,1,1,1,1,...,2718,2777,2780,2784,2799,2825,2853,2854,2860,2860
217,6053,Monterey County,CA,6,1,1,1,1,1,1,...,58717,60368,60852,61309,61832,62401,63240,63731,64034,64091
218,6055,Napa County,CA,6,1,1,1,1,2,2,...,19907,20834,21083,21221,21457,21600,21840,22040,22090,22119
219,6057,Nevada County,CA,6,4,4,4,4,4,4,...,12928,13451,13533,13594,13763,13916,14126,14305,14325,14333
220,6059,Orange County,CA,6,8,8,9,9,9,9,...,477942,488284,493213,496944,500413,503296,507671,509881,510999,511260
221,6061,Placer County,CA,6,3,3,3,3,3,3,...,52285,53559,54090,54418,54814,55355,55992,56401,56554,56578
222,6063,Plumas County,CA,6,0,0,0,0,0,0,...,2233,2286,2316,2346,2366,2371,2391,2412,2441,2463
223,6065,Riverside County,CA,6,60,60,60,60,60,61,...,511249,522155,527384,531093,534983,539684,543082,546403,547913,548047
224,6067,Sacramento County,CA,6,1,1,1,1,1,2,...,229163,234945,237242,238962,241106,244082,246424,248463,249027,249132
225,6069,San Benito County,CA,6,4,4,4,5,5,5,...,10666,11015,11097,11180,11307,11411,11520,11632,11663,11669
226,6071,San Bernardino County,CA,6,76,78,78,80,81,83,...,493638,503398,508046,511288,514815,518652,521350,524015,525144,525225
227,6073,San Diego County,CA,6,0,0,0,0,0,0,...,623597,635593,639664,640215,661420,668101,674610,679659,682659,683027
228,6075,City and County of San Francisco,CA,6,11,11,11,11,11,11,...,99364,101500,102721,103871,104949,105845,106719,107719,108185,108257
229,6077,San Joaquin County,CA,6,7,7,7,7,7,7,...,137744,142460,143448,144287,145729,147034,149401,150455,150760,150850
230,6079,San Luis Obispo County,CA,6,14,15,15,15,15,16,...,42040,43649,43927,44075,44568,45053,45638,46163,46332,46365
231,6081,San Mateo County,CA,6,5,5,5,5,5,5,...,90779,93431,94551,95498,96687,97674,98915,99871,100256,100297
232,6083,Santa Barbara County,CA,6,0,0,0,0,0,0,...,69147,71253,72109,72608,73597,74449,75486,76173,76478,76546
233,6085,Santa Clara County,CA,6,21,22,24,24,24,25,...,247533,253890,257456,260743,264203,266834,269890,272811,273769,273902
234,6087,Santa Cruz County,CA,6,1,1,1,1,1,1,...,33368,34532,35014,36126,36973,37792,38174,38586,39211,39224
235,6089,Shasta County,CA,6,0,0,0,0,0,0,...,25767,26295,26530,26699,26867,27033,27194,27451,27495,27504
236,6091,Sierra County,CA,6,1,1,1,1,1,1,...,245,252,252,252,258,260,260,260,260,260
237,6093,Siskiyou County,CA,6,0,0,0,0,0,0,...,3825,3880,3901,3913,3932,3949,3956,3975,3982,3987
238,6095,Solano County,CA,6,16,17,17,18,18,19,...,63541,66112,66771,67287,67894,68547,69057,69632,69838,69856
239,6097,Sonoma County,CA,6,10,10,10,11,11,11,...,65765,68051,68901,69563,70594,71547,72552,73294,73408,73435
240,6099,Stanislaus County,CA,6,16,16,16,18,18,18,...,99774,102347,103114,103792,104737,105718,106763,107422,107602,107651
241,6101,Sutter County,CA,6,7,7,7,7,7,7,...,17446,17848,17959,18047,18230,18392,18540,18680,18742,18789
242,6103,Tehama County,CA,6,0,0,0,0,0,0,...,10122,10366,10439,10481,10569,10659,10737,10851,10878,10881
243,6105,Trinity County,CA,6,0,0,0,0,0,0,...,921,945,950,960,978,999,1029,1030,1033,1033
244,6107,Tulare County,CA,6,7,7,7,7,7,7,...,82666,86928,88030,88865,89864,90913,91530,92566,93069,93159
245,6109,Tuolumne County,CA,6,0,0,0,0,0,0,...,9633,10044,10116,10175,10330,10457,10606,10741,10781,10805
246,6111,Ventura County,CA,6,7,7,7,7,8,8,...,148095,152204,153653,154699,156114,157499,158906,159821,160414,160475
247,6113,Yolo County,CA,6,3,3,3,3,3,3,...,29883,30484,30699,30847,31388,31627,31861,32044,32116,32128
248,6115,Yuba County,CA,6,2,2,2,2,2,2,...,12760,13486,13596,13687,13798,13943,14100,14213,14262,14296

Now group the data by state

In [5]:
df_confirmed_cases_by_state = df_confirmed_cases.groupby(['State', 'StateFIPS']).sum().reset_index()
df_confirmed_cases_by_state

,State,StateFIPS,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,2020-01-28,2020-01-29,...,2022-01-18,2022-01-19,2022-01-20,2022-01-21,2022-01-22,2022-01-23,2022-01-24,2022-01-25,2022-01-26,2022-01-27
0,AK,2,0,0,0,0,0,0,0,0,...,179006,181507,183777,187047,188250,190051,193306,195288,197425,199769
1,AL,1,0,0,0,0,0,0,0,0,...,1071264,1088370,1104356,1120881,1120881,1120881,1153149,1153149,1153149,1153149
2,AR,5,0,0,0,0,0,0,0,0,...,677449,690890,701050,709958,709958,709958,721587,732071,738053,743699
3,AZ,4,0,0,0,0,1,1,1,1,...,1645695,1666191,1683915,1701950,1701950,1701950,1767303,1781275,1799504,1813797
4,CA,6,722,733,739,749,756,766,772,776,...,7085843,7274629,7346608,7398487,7469125,7554303,7626265,7680316,7702919,7705725
5,CO,8,0,0,0,0,0,0,0,0,...,1169876,1180568,1184668,1199935,1208995,1212408,1221013,1229321,1232348,1233235
6,CT,9,0,0,0,0,0,0,0,0,...,657680,662425,667230,671674,671674,671674,683731,687555,690350,693386
7,DC,11,0,0,0,0,0,0,0,0,...,125707,126187,126675,127200,127200,127200,128550,128739,129108,129479
8,DE,10,0,0,0,0,0,0,0,0,...,229759,232132,233843,236022,236022,236022,241367,242324,242324,244730
9,FL,12,0,0,0,0,0,0,0,0,...,5196294,5242386,5281000,5303375,5311729,5347828,5382565,5420175,5448288,5478894
10,GA,13,0,0,0,0,0,0,0,0,...,1679773,1696978,1713655,1726969,1726969,1726969,1765900,1777459,1791344,1808462
11,HI,15,0,0,0,0,0,0,0,0,...,180838,184767,190678,195151,195151,195151,204933,206837,208887,211267
12,IA,19,0,0,0,0,0,0,0,0,...,664910,669705,669705,682363,682363,682363,693914,699859,703366,703366
13,ID,16,0,0,0,0,0,0,0,0,...,344412,348944,352407,356111,356111,356111,361056,364576,368663,372441
14,IL,17,0,0,1,1,1,1,1,1,...,2683049,2709476,2732720,2773399,2814441,2828451,2837976,2851665,2867351,2881801
15,IN,18,0,0,0,0,0,0,0,0,...,1478372,1494585,1510955,1528637,1528637,1528637,1564230,1573961,1578922,1591127
16,KS,20,0,0,0,0,0,0,0,0,...,621273,660599,660599,681405,681405,681405,695675,695675,709838,709838
17,KY,21,0,0,0,0,0,0,0,0,...,1014703,1027069,1040420,1056284,1056284,1056284,1085051,1100097,1112651,1125181
18,LA,22,0,0,0,0,0,0,0,0,...,1025748,1082716,1097422,1108739,1108739,1108739,1127422,1136526,1145245,1152818
19,MA,25,0,0,0,0,0,0,0,0,...,1375183,1389830,1404214,1418149,1418149,1418149,1442661,1449781,1457699,1466315
20,MD,24,0,0,0,0,0,0,0,0,...,909424,913464,922361,927097,931946,935624,938314,940713,943613,946869
21,ME,23,0,0,0,0,0,0,0,0,...,161395,162940,164324,165691,166898,166899,166899,168474,169998,171524
22,MI,26,0,0,0,0,0,0,0,0,...,1984056,2082983,2082983,2124225,2124225,2124225,2168367,2168367,2203646,2203646
23,MN,27,0,0,0,0,0,0,0,0,...,1148888,1193504,1204929,1216734,1216734,1216734,1229444,1264935,1280500,1295117
24,MO,29,0,0,0,0,0,0,0,0,...,1205772,1220014,1236613,1251055,1251055,1251055,1275650,1285040,1295240,1305329
25,MS,28,0,0,0,0,0,0,0,0,...,657084,665544,673873,681382,681382,681382,694093,699002,705598,712133
26,MT,30,0,0,0,0,0,0,0,0,...,215988,218047,220090,222093,222093,222093,227094,229966,233056,235967
27,NC,37,0,0,0,0,0,0,0,0,...,2130403,2147777,2177357,2177357,2177357,2177357,2290179,2303196,2323482,2352235
28,ND,38,0,0,0,0,0,0,0,0,...,199213,202333,205338,208000,210478,211040,211040,214459,216814,218960
29,NE,31,0,0,0,0,0,0,0,0,...,402489,407804,413056,413056,413056,417848,425610,428949,432564,435358
30,NH,33,0,0,0,0,0,0,0,0,...,250581,251441,254715,257793,257793,257793,265140,266000,267800,270063
31,NJ,34,0,0,0,0,0,0,0,0,...,2014702,2025616,2037690,2049573,2058497,2067692,2072536,2078258,2085385,2092109
32,NM,35,0,0,0,0,0,0,0,0,...,420192,425920,431887,437934,437934,437934,452616,455947,460062,465244
33,NV,32,0,0,0,0,0,0,0,0,...,596497,601682,607857,614505,614505,614505,630343,633955,638931,643695
34,NY,36,0,0,0,0,0,0,0,0,...,4556428,4579803,4610434,4638730,4666373,4685559,4697818,4710302,4726821,4744126
35,OH,39,0,0,0,0,0,0,0,0,...,2418722,2439205,2460869,2480566,2480566,2480566,2515949,2520112,2540864,2552972
36,OK,40,0,0,0,0,0,0,0,0,...,852997,866403,880342,893913,893913,893913,922874,931033,944461,953116
37,OR,41,0,0,0,0,0,0,0,0,...,541415,549942,559960,559960,559960,559960,590270,597172,605363,613221
38,PA,42,0,0,0,0,0,0,0,0,...,2487925,2506132,2523589,2542544,2560167,2572500,2581831,2592691,2605439,2622134
39,RI,44,0,0,0,0,0,0,0,0,...,317344,320617,324234,327109,327109,327109,334127,336031,337949,339571
40,SC,45,0,0,0,0,0,0,0,0,...,1225570,1236732,1249632,1265710,1265710,1265710,1265710,1265710,1328450,1338384
41,SD,46,0,0,0,0,0,0,0,0,...,197912,211885,211885,211885,211885,211885,211885,211885,222880,222880
42,TN,47,0,0,0,0,0,0,0,0,...,1540515,1653144,1653144,1653144,1653144,1653144,1653144,1653144,1771783,1771783
43,TX,48,0,0,0,0,0,0,0,0,...,5644397,5700444,5746859,5813105,5876122,5934240,5973164,6018220,6048954,6083750
44,UT,49,0,0,0,0,0,0,0,0,...,790216,802780,814388,825989,825989,825989,847959,854559,862052,869085
45,VA,51,0,0,0,0,0,0,0,0,...,1407403,1419883,1434686,1451713,1451713,1451713,1481294,1491993,1503119,1514862
46,VT,50,0,0,0,0,0,0,0,0,...,93492,93492,96415,96415,96415,99651,100092,100621,102153,103066
47,WA,53,1,1,1,1,1,1,1,1,...,1105622,1119228,1135778,1151835,1151835,1151835,1203311,1203311,1257918,1257918
48,WI,55,0,0,0,0,0,0,0,0,...,1400338,1415098,1433225,1446023,1457397,1464875,1470262,1477323,1486054,1495240
49,WV,54,0,0,0,0,0,0,0,0,...,392737,396343,401796,407131,407131,407131,422265,425013,429016,434221
50,WY,56,0,0,0,0,0,0,0,0,...,130553,132145,133495,135369,135369,135369,137873,139461,141090,143129

Now I need to transpose so all dates are in rows

In [9]:
df_confirmed_cases_by_state_by_date = df_confirmed_cases_by_state.melt(id_vars=['State','StateFIPS'], 
                                                                       var_name='Date', value_name='Total Cases')
df_confirmed_cases_by_state_by_date

      State StateFIPS        Date  Total Cases
0        AK         2  2020-01-22            0
1        AL         1  2020-01-22            0
2        AR         5  2020-01-22            0
3        AZ         4  2020-01-22            0
4        CA         6  2020-01-22          722
...     ...       ...         ...          ...
37582    VT        50  2022-01-27       103066
37583    WA        53  2022-01-27      1257918
37584    WI        55  2022-01-27      1495240
37585    WV        54  2022-01-27       434221
37586    WY        56  2022-01-27       143129

[37587 rows x 4 columns]

What does a Python created pivot table look like?

In [11]:
df_pivot_table = pd.pivot_table(df_confirmed_cases_by_state_by_date, 
                                values='Total Cases', 
                                columns='Date', 
                                index=['State','StateFIPS'])
df_pivot_table

,Date,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,2020-01-28,2020-01-29,2020-01-30,2020-01-31,...,2022-01-18,2022-01-19,2022-01-20,2022-01-21,2022-01-22,2022-01-23,2022-01-24,2022-01-25,2022-01-26,2022-01-27
State,StateFIPS,,,,,,,,,,,,,,,,,,,,,
AK,2,0,0,0,0,0,0,0,0,0,0,...,179006,181507,183777,187047,188250,190051,193306,195288,197425,199769
AL,1,0,0,0,0,0,0,0,0,0,0,...,1071264,1088370,1104356,1120881,1120881,1120881,1153149,1153149,1153149,1153149
AR,5,0,0,0,0,0,0,0,0,0,0,...,677449,690890,701050,709958,709958,709958,721587,732071,738053,743699
AZ,4,0,0,0,0,1,1,1,1,1,1,...,1645695,1666191,1683915,1701950,1701950,1701950,1767303,1781275,1799504,1813797
CA,6,722,733,739,749,756,766,772,776,783,798,...,7085843,7274629,7346608,7398487,7469125,7554303,7626265,7680316,7702919,7705725
CO,8,0,0,0,0,0,0,0,0,0,0,...,1169876,1180568,1184668,1199935,1208995,1212408,1221013,1229321,1232348,1233235
CT,9,0,0,0,0,0,0,0,0,0,0,...,657680,662425,667230,671674,671674,671674,683731,687555,690350,693386
DC,11,0,0,0,0,0,0,0,0,0,0,...,125707,126187,126675,127200,127200,127200,128550,128739,129108,129479
DE,10,0,0,0,0,0,0,0,0,0,0,...,229759,232132,233843,236022,236022,236022,241367,242324,242324,244730
FL,12,0,0,0,0,0,0,0,0,0,0,...,5196294,5242386,5281000,5303375,5311729,5347828,5382565,5420175,5448288,5478894
GA,13,0,0,0,0,0,0,0,0,0,0,...,1679773,1696978,1713655,1726969,1726969,1726969,1765900,1777459,1791344,1808462
HI,15,0,0,0,0,0,0,0,0,0,0,...,180838,184767,190678,195151,195151,195151,204933,206837,208887,211267
IA,19,0,0,0,0,0,0,0,0,0,0,...,664910,669705,669705,682363,682363,682363,693914,699859,703366,703366
ID,16,0,0,0,0,0,0,0,0,0,0,...,344412,348944,352407,356111,356111,356111,361056,364576,368663,372441
IL,17,0,0,1,1,1,1,1,1,1,2,...,2683049,2709476,2732720,2773399,2814441,2828451,2837976,2851665,2867351,2881801
IN,18,0,0,0,0,0,0,0,0,0,0,...,1478372,1494585,1510955,1528637,1528637,1528637,1564230,1573961,1578922,1591127
KS,20,0,0,0,0,0,0,0,0,0,0,...,621273,660599,660599,681405,681405,681405,695675,695675,709838,709838
KY,21,0,0,0,0,0,0,0,0,0,0,...,1014703,1027069,1040420,1056284,1056284,1056284,1085051,1100097,1112651,1125181
LA,22,0,0,0,0,0,0,0,0,0,0,...,1025748,1082716,1097422,1108739,1108739,1108739,1127422,1136526,1145245,1152818
MA,25,0,0,0,0,0,0,0,0,0,0,...,1375183,1389830,1404214,1418149,1418149,1418149,1442661,1449781,1457699,1466315
MD,24,0,0,0,0,0,0,0,0,0,0,...,909424,913464,922361,927097,931946,935624,938314,940713,943613,946869
ME,23,0,0,0,0,0,0,0,0,0,0,...,161395,162940,164324,165691,166898,166899,166899,168474,169998,171524
MI,26,0,0,0,0,0,0,0,0,0,0,...,1984056,2082983,2082983,2124225,2124225,2124225,2168367,2168367,2203646,2203646
MN,27,0,0,0,0,0,0,0,0,0,0,...,1148888,1193504,1204929,1216734,1216734,1216734,1229444,1264935,1280500,1295117
MO,29,0,0,0,0,0,0,0,0,0,0,...,1205772,1220014,1236613,1251055,1251055,1251055,1275650,1285040,1295240,1305329
MS,28,0,0,0,0,0,0,0,0,0,0,...,657084,665544,673873,681382,681382,681382,694093,699002,705598,712133
MT,30,0,0,0,0,0,0,0,0,0,0,...,215988,218047,220090,222093,222093,222093,227094,229966,233056,235967
NC,37,0,0,0,0,0,0,0,0,0,0,...,2130403,2147777,2177357,2177357,2177357,2177357,2290179,2303196,2323482,2352235
ND,38,0,0,0,0,0,0,0,0,0,0,...,199213,202333,205338,208000,210478,211040,211040,214459,216814,218960
NE,31,0,0,0,0,0,0,0,0,0,0,...,402489,407804,413056,413056,413056,417848,425610,428949,432564,435358
NH,33,0,0,0,0,0,0,0,0,0,0,...,250581,251441,254715,257793,257793,257793,265140,266000,267800,270063
NJ,34,0,0,0,0,0,0,0,0,0,0,...,2014702,2025616,2037690,2049573,2058497,2067692,2072536,2078258,2085385,2092109
NM,35,0,0,0,0,0,0,0,0,0,0,...,420192,425920,431887,437934,437934,437934,452616,455947,460062,465244
NV,32,0,0,0,0,0,0,0,0,0,0,...,596497,601682,607857,614505,614505,614505,630343,633955,638931,643695
NY,36,0,0,0,0,0,0,0,0,0,0,...,4556428,4579803,4610434,4638730,4666373,4685559,4697818,4710302,4726821,4744126
OH,39,0,0,0,0,0,0,0,0,0,0,...,2418722,2439205,2460869,2480566,2480566,2480566,2515949,2520112,2540864,2552972
OK,40,0,0,0,0,0,0,0,0,0,0,...,852997,866403,880342,893913,893913,893913,922874,931033,944461,953116
OR,41,0,0,0,0,0,0,0,0,0,0,...,541415,549942,559960,559960,559960,559960,590270,597172,605363,613221
PA,42,0,0,0,0,0,0,0,0,0,0,...,2487925,2506132,2523589,2542544,2560167,2572500,2581831,2592691,2605439,2622134
RI,44,0,0,0,0,0,0,0,0,0,0,...,317344,320617,324234,327109,327109,327109,334127,336031,337949,339571
SC,45,0,0,0,0,0,0,0,0,0,0,...,1225570,1236732,1249632,1265710,1265710,1265710,1265710,1265710,1328450,1338384
SD,46,0,0,0,0,0,0,0,0,0,0,...,197912,211885,211885,211885,211885,211885,211885,211885,222880,222880
TN,47,0,0,0,0,0,0,0,0,0,0,...,1540515,1653144,1653144,1653144,1653144,1653144,1653144,1653144,1771783,1771783
TX,48,0,0,0,0,0,0,0,0,0,0,...,5644397,5700444,5746859,5813105,5876122,5934240,5973164,6018220,6048954,6083750
UT,49,0,0,0,0,0,0,0,0,0,0,...,790216,802780,814388,825989,825989,825989,847959,854559,862052,869085
VA,51,0,0,0,0,0,0,0,0,0,0,...,1407403,1419883,1434686,1451713,1451713,1451713,1481294,1491993,1503119,1514862
VT,50,0,0,0,0,0,0,0,0,0,0,...,93492,93492,96415,96415,96415,99651,100092,100621,102153,103066
WA,53,1,1,1,1,1,1,1,1,1,1,...,1105622,1119228,1135778,1151835,1151835,1151835,1203311,1203311,1257918,1257918
WI,55,0,0,0,0,0,0,0,0,0,0,...,1400338,1415098,1433225,1446023,1457397,1464875,1470262,1477323,1486054,1495240
WV,54,0,0,0,0,0,0,0,0,0,0,...,392737,396343,401796,407131,407131,407131,422265,425013,429016,434221
WY,56,0,0,0,0,0,0,0,0,0,0,...,130553,132145,133495,135369,135369,135369,137873,139461,141090,143129

In [12]:
df_confirmed_cases_by_state_by_date = df_confirmed_cases_by_state_by_date.astype({'Date': 'datetime64[ns]'})
df_sorted_confirmed_cases = df_confirmed_cases_by_state_by_date.sort_values(by=['StateFIPS', 'Date'])
df_sorted_confirmed_cases

      State StateFIPS       Date  Total Cases
1        AL         1 2020-01-22            0
52       AL         1 2020-01-23            0
103      AL         1 2020-01-24            0
154      AL         1 2020-01-25            0
205      AL         1 2020-01-26            0
...     ...       ...        ...          ...
37338    CT         9 2022-01-23       671674
37389    CT         9 2022-01-24       683731
37440    CT         9 2022-01-25       687555
37491    CT         9 2022-01-26       690350
37542    CT         9 2022-01-27       693386

[37587 rows x 4 columns]

Now shift by one to get previous day cases and compute incremental cases

In [13]:
df_sorted_confirmed_cases['Incremental Cases'] = df_sorted_confirmed_cases.groupby('State')['Total Cases'].apply(
    lambda x: x - x.shift(1))
df_sorted_confirmed_cases

      State StateFIPS       Date  Total Cases  Incremental Cases
1        AL         1 2020-01-22            0                NaN
52       AL         1 2020-01-23            0                0.0
103      AL         1 2020-01-24            0                0.0
154      AL         1 2020-01-25            0                0.0
205      AL         1 2020-01-26            0                0.0
...     ...       ...        ...          ...                ...
37338    CT         9 2022-01-23       671674                0.0
37389    CT         9 2022-01-24       683731            12057.0
37440    CT         9 2022-01-25       687555             3824.0
37491    CT         9 2022-01-26       690350             2795.0
37542    CT         9 2022-01-27       693386             3036.0

[37587 rows x 5 columns]

Now compute 7 days rolling average

In [14]:
df_sorted_confirmed_cases['cases moving_avg'] = df_sorted_confirmed_cases.groupby('State')['Incremental Cases'].apply(
    lambda x: (x + x.shift(1) + x.shift(2) + x.shift(3) + x.shift(4) + x.shift(5) + x.shift(6))/7)

In [15]:
if using_Google_colab:
    df_sorted_confirmed_cases.to_csv('/content/drive/MyDrive/COVID_Project/output/confirmed_cases_by_state.csv')
if using_Anaconda_on_Mac_or_Linux:
    df_sorted_confirmed_cases.to_csv('../output/confirmed_cases_by_state.csv')
if using_Anaconda_on_windows:
    df_sorted_confirmed_cases.to_csv(r'..\output\confirmed_cases_by_state.csv')

Data prep for deaths

Read file

In [16]:
if using_Google_colab:
    df_covid_deaths = pd.read_csv('/content/drive/MyDrive/COVID_Project/input/USA_Facts/covid_deaths_usafacts.csv')
if using_Anaconda_on_Mac_or_Linux:
    df_covid_deaths = pd.read_csv('../input/USA_Facts/covid_deaths_usafacts.csv')
if using_Anaconda_on_windows:
    df_covid_deaths = pd.read_csv(r'..\input\USA_Facts\covid_deaths_usafacts.csv') 
df_covid_deaths = df_covid_deaths.astype({'countyFIPS': str}).astype({'StateFIPS': str})

Now group the data by State

In [17]:
df_covid_deaths_by_state = df_covid_deaths.groupby(['State', 'StateFIPS']).sum().reset_index()
df_covid_deaths_by_state

,State,StateFIPS,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,2020-01-28,2020-01-29,...,2022-01-18,2022-01-19,2022-01-20,2022-01-21,2022-01-22,2022-01-23,2022-01-24,2022-01-25,2022-01-26,2022-01-27
0,AK,2,0,0,0,0,0,0,0,0,...,1007,1007,1007,1028,1028,1037,1041,1041,1041,1041
1,AL,1,0,0,0,0,0,0,0,0,...,16734,16756,16792,16824,16824,16824,16826,16826,16826,16826
2,AR,5,0,0,0,0,0,0,0,0,...,9452,9462,9470,9484,9484,9484,9511,9556,9574,9596
3,AZ,4,0,0,0,0,0,0,0,0,...,25395,25416,25429,25502,25502,25502,25624,25624,25899,25932
4,CA,6,0,0,0,0,0,0,0,0,...,77407,77688,77754,77796,77835,78010,78502,78533,78540,78541
5,CO,8,0,0,0,0,0,0,0,0,...,10788,10793,10795,10846,10922,10922,10982,10996,10998,11005
6,CT,9,0,0,0,0,0,0,0,0,...,9564,9670,9683,9769,9769,9769,9774,9773,9901,9908
7,DC,11,0,0,0,0,0,0,0,0,...,1260,1263,1264,1267,1267,1267,1275,1278,1280,1282
8,DE,10,0,0,0,0,0,0,0,0,...,2424,2440,2450,2457,2457,2457,2480,2489,2489,2494
9,FL,12,0,0,0,0,0,0,0,0,...,63567,63569,63574,64001,64002,64002,64610,64629,64635,64640
10,GA,13,0,0,0,0,0,0,0,0,...,32030,32072,32206,32294,32294,32294,32389,32488,32603,32718
11,HI,15,0,0,0,0,0,0,0,0,...,1126,1126,1135,1137,1137,1137,1146,1146,1149,1159
12,IA,19,0,0,0,0,0,0,0,0,...,8317,8317,8317,8317,8317,8317,8317,8501,8501,8501
13,ID,16,0,0,0,0,0,0,0,0,...,4282,4292,4317,4323,4323,4323,4331,4345,4357,4365
14,IL,17,0,0,0,0,0,0,0,0,...,32851,33052,33278,33446,33446,33446,33803,33942,34131,34298
15,IN,18,0,0,0,0,0,0,0,0,...,20385,20500,20637,20751,20751,20751,20796,20928,21056,21165
16,KS,20,0,0,0,0,0,0,0,0,...,7162,7290,7290,7321,7321,7321,7336,7336,7388,7388
17,KY,21,0,0,0,0,0,0,0,0,...,12614,12639,12659,12687,12687,12687,12763,12786,12817,12856
18,LA,22,0,0,0,0,0,0,0,0,...,15195,15246,15283,15324,15324,15324,15374,15476,15523,15570
19,MA,25,0,0,0,0,0,0,0,0,...,21000,21208,21295,21402,21402,21402,21514,21669,21752,21839
20,MD,24,0,0,0,0,0,0,0,0,...,12830,12866,12936,13003,13069,13123,13158,13233,13280,13334
21,ME,23,0,0,0,0,0,0,0,0,...,1658,1688,1691,1693,1698,1698,1698,1714,1716,1728
22,MI,26,0,0,0,0,0,0,0,0,...,30709,31275,31275,31502,31502,31502,31539,31539,31985,31985
23,MN,27,0,0,0,0,0,0,0,0,...,11000,11037,11115,11151,11151,11151,11193,11230,11282,11339
24,MO,29,0,0,0,0,0,0,0,0,...,16617,16768,16775,17021,17021,17021,17038,17070,17092,17102
25,MS,28,0,0,0,0,0,0,0,0,...,10642,10690,10707,10721,10721,10721,10734,10755,10774,10806
26,MT,30,0,0,0,0,0,0,0,0,...,2957,2964,2966,2976,2976,2976,2985,2987,2990,2990
27,NC,37,0,0,0,0,0,0,0,0,...,20000,20037,20108,20108,20108,20108,20289,20335,20440,20517
28,ND,38,0,0,0,0,0,0,0,0,...,2047,2056,2061,2067,2069,2069,2069,2078,2088,2090
29,NE,31,0,0,0,0,0,0,0,0,...,3548,3562,3569,3569,3569,3569,3604,3632,3657,3666
30,NH,33,0,0,0,0,0,0,0,0,...,2085,2109,2123,2135,2135,2135,2145,2170,2173,2193
31,NJ,34,0,0,0,0,0,0,0,0,...,30170,30315,30476,30618,30746,30759,30799,30950,31093,31208
32,NM,35,0,0,0,0,0,0,0,0,...,6177,6205,6229,6259,6259,6259,6292,6317,6357,6391
33,NV,32,0,0,0,0,0,0,0,0,...,8654,8688,8709,8736,8736,8736,8760,8797,8837,8875
34,NY,36,0,0,0,0,0,0,0,0,...,62117,62369,62567,62802,62802,62802,63263,63561,63793,63993
35,OH,39,0,0,0,0,0,0,0,0,...,31245,31245,31245,31987,31987,31987,31987,32489,32489,32489
36,OK,40,0,0,0,0,0,0,0,0,...,12666,12927,12927,12927,12927,12927,12927,12927,13125,13125
37,OR,41,0,0,0,0,0,0,0,0,...,5892,5908,5916,5916,5916,5916,5953,5994,6048,6067
38,PA,42,0,0,0,0,0,0,0,0,...,38655,38767,39093,39362,39487,39538,39560,39749,39932,40257
39,RI,44,0,0,0,0,0,0,0,0,...,3200,3215,3224,3240,3240,3240,3265,3270,3277,3288
40,SC,45,0,0,0,0,0,0,0,0,...,15015,15029,15053,15108,15108,15108,15108,15108,15155,15181
41,SD,46,0,0,0,0,0,0,0,0,...,2534,2573,2573,2573,2573,2573,2573,2573,2623,2623
42,TN,47,0,0,0,0,0,0,0,0,...,21095,21694,21694,21694,21694,21694,21694,21694,22151,22151
43,TX,48,0,0,0,0,0,0,0,0,...,76443,76443,76443,76904,77056,77319,77768,77779,77780,77780
44,UT,49,0,0,0,0,0,0,0,0,...,3979,3997,4019,4030,4030,4030,4063,4073,4091,4097
45,VA,51,0,0,0,0,0,0,0,0,...,15822,15835,15853,15852,15852,15852,15948,16002,16052,16088
46,VT,50,0,0,0,0,0,0,0,0,...,507,507,514,514,514,521,523,527,529,532
47,WA,53,0,0,0,0,0,0,0,0,...,10230,10230,10339,10405,10405,10405,10458,10458,10580,10580
48,WI,55,1,1,1,1,1,1,1,1,...,11755,11825,11867,12007,12090,12099,12105,12112,12155,12216
49,WV,54,0,0,0,0,0,0,0,0,...,5561,5576,5590,5609,5609,5609,5645,5650,5674,5697
50,WY,56,0,0,0,0,0,0,0,0,...,1601,1601,1601,1601,1601,1601,1601,1625,1625,1625

Now I need to transpose so all dates are in rows

In [18]:
df_covid_deaths = df_covid_deaths_by_state.melt(id_vars=['State','StateFIPS'], 
                                                                 var_name='Date', 
                                                                 value_name='Total Deaths')
df_covid_deaths = df_covid_deaths.astype({'Date': 'datetime64[ns]'})
df_sorted_covid_deaths = df_covid_deaths.sort_values(by=['StateFIPS', 'Date'])

In [19]:
df_sorted_covid_deaths

      State StateFIPS       Date  Total Deaths
1        AL         1 2020-01-22             0
52       AL         1 2020-01-23             0
103      AL         1 2020-01-24             0
154      AL         1 2020-01-25             0
205      AL         1 2020-01-26             0
...     ...       ...        ...           ...
37338    CT         9 2022-01-23          9769
37389    CT         9 2022-01-24          9774
37440    CT         9 2022-01-25          9773
37491    CT         9 2022-01-26          9901
37542    CT         9 2022-01-27          9908

[37587 rows x 4 columns]

Now shift by one to get previous day deaths and compute incremental deaths

In [20]:
df_sorted_covid_deaths['Incremental Deaths'] = df_sorted_covid_deaths.groupby('State')['Total Deaths'].apply(
    lambda x: x - x.shift(1))
df_sorted_covid_deaths

      State StateFIPS       Date  Total Deaths  Incremental Deaths
1        AL         1 2020-01-22             0                 NaN
52       AL         1 2020-01-23             0                 0.0
103      AL         1 2020-01-24             0                 0.0
154      AL         1 2020-01-25             0                 0.0
205      AL         1 2020-01-26             0                 0.0
...     ...       ...        ...           ...                 ...
37338    CT         9 2022-01-23          9769                 0.0
37389    CT         9 2022-01-24          9774                 5.0
37440    CT         9 2022-01-25          9773                -1.0
37491    CT         9 2022-01-26          9901               128.0
37542    CT         9 2022-01-27          9908                 7.0

[37587 rows x 5 columns]

Now compute 7 days rolling average

In [21]:
df_sorted_covid_deaths['death moving_avg'] = df_sorted_covid_deaths.groupby('State')['Incremental Deaths'].apply(
    lambda x: (x + x.shift(1) + x.shift(2) + x.shift(3) + x.shift(4) + x.shift(5) + x.shift(6))/7)

In [22]:
if using_Google_colab:
    df_sorted_covid_deaths.to_csv('/content/drive/MyDrive/COVID_Project/output/covid_deaths_by_state.csv')
if using_Anaconda_on_Mac_or_Linux:
    df_sorted_covid_deaths.to_csv('../output/covid_deaths_by_state.csv')
if using_Anaconda_on_windows:
    df_sorted_covid_deaths.to_csv(r'..\output\covid_deaths_by_state.csv')

Create partial analytics_base_table with confirmed cases and deaths

In [23]:
df_abt_by_state = pd.merge(df_sorted_confirmed_cases, df_sorted_covid_deaths, 
                          on=['StateFIPS', 'Date'], 
                          suffixes=('', '_DROP'), 
                          how='inner').filter(regex='^(?!.*_DROP)')
df_abt_by_state

,State,StateFIPS,Date,Total Cases,Incremental Cases,cases moving_avg,Total Deaths,Incremental Deaths,death moving_avg
0,AL,1,2020-01-22,0,NaN,NaN,0,NaN,NaN
1,AL,1,2020-01-23,0,0.0,NaN,0,0.0,NaN
2,AL,1,2020-01-24,0,0.0,NaN,0,0.0,NaN
3,AL,1,2020-01-25,0,0.0,NaN,0,0.0,NaN
4,AL,1,2020-01-26,0,0.0,NaN,0,0.0,NaN
...,...,...,...,...,...,...,...,...,...
37582,CT,9,2022-01-23,671674,0.0,4871.714286,9769,0.0,30.428571
37583,CT,9,2022-01-24,683731,12057.0,4330.714286,9774,5.0,31.428571
37584,CT,9,2022-01-25,687555,3824.0,4267.857143,9773,-1.0,29.857143
37585,CT,9,2022-01-26,690350,2795.0,3989.285714,9901,128.0,33.000000
37586,CT,9,2022-01-27,693386,3036.0,3736.571429,9908,7.0,32.142857

In [24]:
if using_Google_colab:
    df_abt_by_state.to_csv('/content/drive/MyDrive/COVID_Project/output/abt_by_state.csv')
if using_Anaconda_on_Mac_or_Linux:
    df_abt_by_state.to_csv('../output/abt_by_state.csv')
if using_Anaconda_on_windows:
    df_abt_by_state.to_csv(r'..\output\abt_by_state.csv')