# Step 2 - Describe Data 

This notebook provides the Python code for opening Covid Total Cases file and computing descriptive statistics.  

Students will be developing a similar notebook for total deaths.  The corresponding notebook is included in the answer section.

#  		Import Libraries

In [1]:
import os
import pandas as pd
import numpy as np

# Set Input Folder

Depending on the Operating System you are using the file access may differ. 
Choose your operating system by setting its value to True and keep the rest False

In [2]:
using_Google_colab = False
using_Anaconda_on_Mac_or_Linux_or_Azure = True
using_Anaconda_on_windows = False

In [3]:
if using_Google_colab:
    from google.colab import drive
    drive.mount('/content/drive')

In [4]:
if using_Google_colab:
    dir_input = "/content/drive/MyDrive/COVID_Project/input"
if using_Anaconda_on_Mac_or_Linux_or_Azure:
    dir_input = "../input"
if using_Anaconda_on_windows:
    dir_input = r"..\input"

#  		Q 2-2 Open USA Facts Data Source and list data sets

In [5]:
path_USA_Facts = os.path.join(dir_input, "USA_Facts")
path_USA_Facts

'../input/USA_Facts'

In [6]:
files_USA_Facts = os.listdir(os.path.join(dir_input, "USA_Facts"))
files_USA_Facts

['covid_deaths_usafacts.csv',
 'covid_county_population_usafacts.csv',
 'COVID19_CDC_Vaccination_CSV_Download.csv',
 'covid_confirmed_usafacts.csv',
 'unemployment_rate_usafacts.csv']

# Q 2-2 Understand number of files included in this data source

In [7]:
len(files_USA_Facts)

5

#  Q 2-3 Open “covid_confirmed_usafacts” dataset file from USA Facts Data Source

In [8]:
path_USA_Facts = os.path.join(dir_input, "USA_Facts", "covid_confirmed_usafacts")
path_USA_Facts

'../input/USA_Facts/covid_confirmed_usafacts'

In [9]:
df_covid_confirmed = pd.read_csv(os.path.join(dir_input, "USA_Facts", "covid_confirmed_usafacts.csv"))

# Q 2-3	Review fields included in this  Data Set - “covid_confirmed_usafacts”

In [10]:
df_covid_confirmed.columns

Index(['countyFIPS', 'County Name', 'State', 'StateFIPS', '2020-01-22',
       '2020-01-23', '2020-01-24', '2020-01-25', '2020-01-26', '2020-01-27',
       ...
       '2022-01-18', '2022-01-19', '2022-01-20', '2022-01-21', '2022-01-22',
       '2022-01-23', '2022-01-24', '2022-01-25', '2022-01-26', '2022-01-27'],
      dtype='object', length=741)

# Q 2-3	Find number of rows and columns in this  Data Set - “covid_confirmed_usafacts”

In [11]:
df_covid_confirmed.shape

(3193, 741)

# Q 2-3 Sample data contents included in “covid_confirmed_usafacts” dataset

In [12]:
df_covid_confirmed

,countyFIPS,County Name,State,StateFIPS,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,...,2022-01-18,2022-01-19,2022-01-20,2022-01-21,2022-01-22,2022-01-23,2022-01-24,2022-01-25,2022-01-26,2022-01-27
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,12738,12833,12928,13019,13019,13019,13251,13251,13251,13251
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,47143,47662,48338,49168,49168,49168,50313,50313,50313,50313
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,4741,4800,4843,4902,4902,4902,5054,5054,5054,5054
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,5385,5486,5565,5663,5663,5663,5795,5795,5795,5795
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,56037,Sweetwater County,WY,56,0,0,0,0,0,0,...,9082,9184,9241,9449,9449,9449,9609,9712,9810,10007
3189,56039,Teton County,WY,56,0,0,0,0,0,0,...,8531,8638,8741,8814,8814,8814,8960,9049,9121,9195
3190,56041,Uinta County,WY,56,0,0,0,0,0,0,...,4660,4751,4827,4927,4927,4927,5034,5081,5167,5222
3191,56043,Washakie County,WY,56,0,0,0,0,0,0,...,1994,2002,2023,2025,2025,2025,2041,2066,2093,2130
3192,56045,Weston County,WY,56,0,0,0,0,0,0,...,1315,1332,1341,1349,1349,1349,1369,1387,1408,1426

# Q 2-4 Determine basic statistics on “covid_confirmed_usafacts” dataset file from USA Facts Data Source

In [13]:
df_covid_confirmed.describe()

,countyFIPS,StateFIPS,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,2020-01-28,2020-01-29,...,2022-01-18,2022-01-19,2022-01-20,2022-01-21,2022-01-22,2022-01-23,2022-01-24,2022-01-25,2022-01-26,2022-01-27
count,3193.000000,3193.000000,3193.000000,3193.000000,3193.000000,3193.000000,3193.000000,3193.000000,3193.000000,3193.000000,...,3.193000e+03,3.193000e+03,3.193000e+03,3.193000e+03,3.193000e+03,3.193000e+03,3.193000e+03,3.193000e+03,3.193000e+03,3.193000e+03
mean,29898.348262,30.259004,0.226433,0.229878,0.232070,0.235202,0.237707,0.240839,0.242718,0.243971,...,2.082903e+04,2.116264e+04,2.135600e+04,2.155696e+04,2.164071e+04,2.172185e+04,2.203408e+04,2.216489e+04,2.237660e+04,2.249489e+04
std,15515.884232,15.153897,6.899731,6.977750,7.031192,7.075284,7.096643,7.160000,7.199078,7.220848,...,7.133025e+04,7.255180e+04,7.314986e+04,7.392526e+04,7.425559e+04,7.483399e+04,7.560179e+04,7.597433e+04,7.632530e+04,7.651686e+04
min,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,18101.000000,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2.013000e+03,2.066000e+03,2.081000e+03,2.108000e+03,2.108000e+03,2.108000e+03,2.141000e+03,2.149000e+03,2.199000e+03,2.204000e+03
50%,29125.000000,29.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,5.107000e+03,5.227000e+03,5.285000e+03,5.339000e+03,5.359000e+03,5.363000e+03,5.459000e+03,5.492000e+03,5.561000e+03,5.604000e+03
75%,45055.000000,45.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.346700e+04,1.379900e+04,1.391500e+04,1.408000e+04,1.417200e+04,1.424400e+04,1.437100e+04,1.452800e+04,1.471100e+04,1.476900e+04
max,56045.000000,56.000000,375.000000,379.000000,382.000000,384.000000,385.000000,388.000000,390.000000,391.000000,...,2.276388e+06,2.343261e+06,2.367401e+06,2.384427e+06,2.390482e+06,2.430653e+06,2.453693e+06,2.468026e+06,2.472960e+06,2.473095e+06

In [14]:
df_covid_confirmed.describe()[['2020-12-18', '2020-12-19', '2020-12-20']]

         2020-12-18     2020-12-19     2020-12-20
count    3193.00000    3193.000000    3193.000000
mean     5471.10523    5538.622612    5589.872534
std     19381.24075   19685.512575   19918.522676
min         0.00000       0.000000       0.000000
25%       571.00000     579.000000     586.000000
50%      1388.00000    1406.000000    1416.000000
75%      3672.00000    3708.000000    3730.000000
max    640412.00000  655974.000000  668041.000000