In [1]:
import os
import pandas as pd
#import json
#from datetime import datetime
#from datetime import timedelta

In [2]:
using_Google_colab = False
using_Anaconda_on_Mac_or_Linux = True
using_Anaconda_on_windows = False

In [3]:
if using_Google_colab:
    from google.colab import drive
    drive.mount('/content/drive')

# DU1.1 		Open USA Facts Data Source and list data sets

In [4]:
if using_Google_colab:
  files_USA_Facts = os.listdir('/content/drive/MyDrive/COVID_Project/input/USA_Facts')
if using_Anaconda_on_Mac_or_Linux:
  files_USA_Facts = os.listdir("../input/USA_Facts")
if using_Anaconda_on_windows:
  files_USA_Facts = os.listdir(r"..\input\USA_Facts")
files_USA_Facts

['Provisional_COVID-19_Death_Counts_by_Week_Ending_Date_and_State.csv',
 'nursing_home_residents_usafacts.csv',
 'percent_of_adults_with_asthma_usafacts.csv',
 'confirmed_cases_by_state.csv',
 'children_receiving_school_lunch_usafacts.csv',
 'covid_deaths_usafacts.csv',
 'people_in_food-insecure_households_usafacts.csv',
 'covid_county_population_usafacts.csv',
 'homeless_population_usafacts.csv',
 'percent_of_adults_with_diabetes_usafacts.csv',
 'incremental_cases_by_state.csv',
 'covid_confirmed_usafacts.csv',
 'households_usafacts.csv',
 'covid_confirmed_usafacts.xlsx',
 'Archive.zip',
 'hospital_beds_usafacts.csv']

#   DU1.2		Understand number of files included in this data source

In [5]:
len(files_USA_Facts)

16

# DU1.3		Repeat the same for next data source  - Owid-covid-global

In [6]:
if using_Google_colab:
  files_OWID_COVID = os.listdir('/content/drive/MyDrive/COVID_Project/input/OWID-COVID-Global')
if using_Anaconda_on_Mac_or_Linux:
  files_OWID_COVID = os.listdir("../input/OWID-COVID-Global")
if using_Anaconda_on_windows:
  files_USA_Facts = os.listdir(r"..\input\OWID-COVID-Global")
files_OWID_COVID

['owid-covid-data.csv']

In [7]:
len(files_OWID_COVID)

1

#  DU1.4		Repeat the same for next data source  - WHO-global

In [8]:
if using_Google_colab:
  files_WHO_Global = os.listdir('/content/drive/MyDrive/COVID_Project/input/WHO-Global')
if using_Anaconda_on_Mac_or_Linux:
  files_WHO_Global = os.listdir("../input/WHO-Global")
if using_Anaconda_on_windows:
  files_WHO_Global = os.listdir(r"..\input\WHO-Global")
files_WHO_Global

['WHO-COVID-19-global-data.csv']

In [9]:
len(files_WHO_Global)

1

# DU1.5		Repeat the same for next data source  - Google

In [10]:
if using_Google_colab:
  files_Google = os.listdir('/content/drive/MyDrive/COVID_Project/input/Google')
if using_Anaconda_on_Mac_or_Linux:
  files_Google = os.listdir("../input/Google")
if using_Anaconda_on_windows:
  files_Google = os.listdir(r"..\input\Google")
files_Google

['.DS_Store',
 'Region_Mobility_Report_CSVs.zip',
 'Region_Mobility_Report_CSVs',
 '2020_US_county_Symptom_dataset',
 'locations.csv']

In [11]:
len(files_Google)

5

#   DU2.1 		Open “covid_confirmed_usafacts” dataset file from USA Facts Data Source

In [12]:
if using_Google_colab:
  df_covid_confirmed = pd.read_csv('/content/drive/MyDrive/COVID_Project/input/USA_Facts/covid_confirmed_usafacts.csv')
if using_Anaconda_on_Mac_or_Linux:
  df_covid_confirmed = pd.read_csv("../input/USA_Facts/covid_confirmed_usafacts.csv")
if using_Anaconda_on_windows:
  df_covid_confirmed = pd.read_csv(r"..\input\USA_Facts\covid_confirmed_usafacts.csv")
df_covid_confirmed

,countyFIPS,County Name,State,stateFIPS,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,12/11/20,12/12/20,12/13/20,12/14/20,12/15/20,12/16/20,12/17/20,12/18/20,12/19/20,12/20/20
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,3233,3233,3233,3329,3426,3510,3570,3647,3698,3741
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,10489,10489,10489,10898,11061,11212,11364,11556,11722,11827
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,1264,1264,1264,1275,1292,1296,1309,1318,1330,1336
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,1398,1398,1398,1455,1504,1520,1548,1577,1601,1613
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3190,56037,Sweetwater County,WY,56,0,0,0,0,0,0,...,2376,2384,2451,2518,2544,2574,2649,2696,2702,2718
3191,56039,Teton County,WY,56,0,0,0,0,0,0,...,1868,1886,1905,1930,1940,1958,1974,1990,1992,2002
3192,56041,Uinta County,WY,56,0,0,0,0,0,0,...,1281,1289,1307,1327,1352,1363,1372,1399,1406,1416
3193,56043,Washakie County,WY,56,0,0,0,0,0,0,...,620,629,639,644,659,662,665,690,695,699
3194,56045,Weston County,WY,56,0,0,0,0,0,0,...,428,428,428,429,436,436,438,443,443,446

# DU2.2		Review data types included in this  Data Set - “covid_confirmed_usafacts”

In [13]:
df_covid_confirmed.columns

Index(['countyFIPS', 'County Name', 'State', 'stateFIPS', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       ...
       '12/11/20', '12/12/20', '12/13/20', '12/14/20', '12/15/20', '12/16/20',
       '12/17/20', '12/18/20', '12/19/20', '12/20/20'],
      dtype='object', length=338)

# DU2.3		Review data fields included in this  Data Set - “covid_confirmed_usafacts”

In [14]:
df_covid_confirmed.describe

<bound method NDFrame.describe of       countyFIPS            County Name State  stateFIPS  1/22/20  1/23/20  \
0              0  Statewide Unallocated    AL          1        0        0
1           1001         Autauga County    AL          1        0        0
2           1003         Baldwin County    AL          1        0        0
3           1005         Barbour County    AL          1        0        0
4           1007            Bibb County    AL          1        0        0
...          ...                    ...   ...        ...      ...      ...
3190       56037      Sweetwater County    WY         56        0        0
3191       56039           Teton County    WY         56        0        0
3192       56041           Uinta County    WY         56        0        0
3193       56043        Washakie County    WY         56        0        0
3194       56045          Weston County    WY         56        0        0

      1/24/20  1/25/20  1/26/20  1/27/20  ...  12/11/20  12/12/20  12/13/20  \
0           0        0        0        0  ...         0         0         0
1           0        0        0        0  ...      3233      3233      3233
2           0        0        0        0  ...     10489     10489     10489
3           0        0        0        0  ...      1264      1264      1264
4           0        0        0        0  ...      1398      1398      1398
...       ...      ...      ...      ...  ...       ...       ...       ...
3190        0        0        0        0  ...      2376      2384      2451
3191        0        0        0        0  ...      1868      1886      1905
3192        0        0        0        0  ...      1281      1289      1307
3193        0        0        0        0  ...       620       629       639
3194        0        0        0        0  ...       428       428       428

      12/14/20  12/15/20  12/16/20  12/17/20  12/18/20  12/19/20  12/20/20
0            0         0         0         0         0         0         0
1         3329      3426      3510      3570      3647      3698      3741
2        10898     11061     11212     11364     11556     11722     11827
3         1275      1292      1296      1309      1318      1330      1336
4         1455      1504      1520      1548      1577      1601      1613
...        ...       ...       ...       ...       ...       ...       ...
3190      2518      2544      2574      2649      2696      2702      2718
3191      1930      1940      1958      1974      1990      1992      2002
3192      1327      1352      1363      1372      1399      1406      1416
3193       644       659       662       665       690       695       699
3194       429       436       436       438       443       443       446

[3195 rows x 338 columns]>

#  DU2.4		Get an estimates on total record size for this dataset - “covid_confirmed_usafacts”

In [15]:
df_covid_confirmed.shape

(3195, 338)

# DU3.1 		Classify data contents included in “covid_confirmed_usafacts” dataset file from USA Facts

In [16]:
df_covid_confirmed

,countyFIPS,County Name,State,stateFIPS,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,12/11/20,12/12/20,12/13/20,12/14/20,12/15/20,12/16/20,12/17/20,12/18/20,12/19/20,12/20/20
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,3233,3233,3233,3329,3426,3510,3570,3647,3698,3741
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,10489,10489,10489,10898,11061,11212,11364,11556,11722,11827
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,1264,1264,1264,1275,1292,1296,1309,1318,1330,1336
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,1398,1398,1398,1455,1504,1520,1548,1577,1601,1613
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3190,56037,Sweetwater County,WY,56,0,0,0,0,0,0,...,2376,2384,2451,2518,2544,2574,2649,2696,2702,2718
3191,56039,Teton County,WY,56,0,0,0,0,0,0,...,1868,1886,1905,1930,1940,1958,1974,1990,1992,2002
3192,56041,Uinta County,WY,56,0,0,0,0,0,0,...,1281,1289,1307,1327,1352,1363,1372,1399,1406,1416
3193,56043,Washakie County,WY,56,0,0,0,0,0,0,...,620,629,639,644,659,662,665,690,695,699
3194,56045,Weston County,WY,56,0,0,0,0,0,0,...,428,428,428,429,436,436,438,443,443,446

# DU4.1 		Determine basic statistics on “covid_confirmed_usafacts” dataset file from USA Facts Data Source

In [17]:
df_covid_confirmed.describe()

,countyFIPS,stateFIPS,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,12/11/20,12/12/20,12/13/20,12/14/20,12/15/20,12/16/20,12/17/20,12/18/20,12/19/20,12/20/20
count,3195.000000,3195.000000,3195.000000,3195.000000,3195.000000,3195.000000,3195.000000,3195.000000,3195.000000,3195.000000,...,3195.000000,3195.000000,3195.000000,3195.000000,3195.000000,3195.000000,3195.000000,3195.000000,3195.000000,3195.000000
mean,29882.221283,30.250391,0.000313,0.000313,0.000626,0.000626,0.001565,0.001878,0.001878,0.002191,...,4891.251956,4955.670110,5009.165884,5073.570579,5134.007199,5205.183725,5279.998435,5352.922066,5410.740532,5462.620657
std,15524.478700,15.159987,0.017691,0.017691,0.025016,0.025016,0.039535,0.043301,0.043301,0.053038,...,16704.131313,16962.015992,17198.318097,17436.785224,17663.260812,18021.787342,18340.382531,18664.485938,18923.501290,19154.137973
min,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,18098.000000,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,502.000000,510.000000,514.000000,520.500000,526.500000,534.000000,540.000000,547.000000,556.000000,561.500000
50%,29123.000000,29.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1264.000000,1281.000000,1290.000000,1304.000000,1322.000000,1337.000000,1352.000000,1366.000000,1376.000000,1389.000000
75%,45054.000000,45.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,3276.000000,3317.000000,3364.500000,3398.000000,3449.000000,3502.000000,3556.000000,3619.000000,3668.000000,3706.000000
max,56045.000000,56.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,...,501635.000000,512872.000000,525486.000000,532730.000000,543769.000000,566005.000000,580325.000000,596721.000000,610372.000000,623670.000000

# DU5.1 Open “covid_confirmed_usafacts” dataset file from USA Facts Data Source and determine number of missing value

In [18]:
df_covid_confirmed

,countyFIPS,County Name,State,stateFIPS,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,12/11/20,12/12/20,12/13/20,12/14/20,12/15/20,12/16/20,12/17/20,12/18/20,12/19/20,12/20/20
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,3233,3233,3233,3329,3426,3510,3570,3647,3698,3741
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,10489,10489,10489,10898,11061,11212,11364,11556,11722,11827
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,1264,1264,1264,1275,1292,1296,1309,1318,1330,1336
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,1398,1398,1398,1455,1504,1520,1548,1577,1601,1613
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3190,56037,Sweetwater County,WY,56,0,0,0,0,0,0,...,2376,2384,2451,2518,2544,2574,2649,2696,2702,2718
3191,56039,Teton County,WY,56,0,0,0,0,0,0,...,1868,1886,1905,1930,1940,1958,1974,1990,1992,2002
3192,56041,Uinta County,WY,56,0,0,0,0,0,0,...,1281,1289,1307,1327,1352,1363,1372,1399,1406,1416
3193,56043,Washakie County,WY,56,0,0,0,0,0,0,...,620,629,639,644,659,662,665,690,695,699
3194,56045,Weston County,WY,56,0,0,0,0,0,0,...,428,428,428,429,436,436,438,443,443,446

# DU5.1 Open “covid_confirmed_usafacts” dataset file from USA Facts Data Source and determine Total number of records and number of records with no value

In [36]:
statevars = ['countyFIPS', 'County Name', 'State', 'stateFIPS']

In [37]:
df_covid_confirmed[statevars].isnull().sum(axis=0)

countyFIPS     0
County Name    0
State          0
stateFIPS      0
dtype: int64

# DU5.2	 Verify data quality issues for OWID-COVID-Global data source

In [39]:
if using_Google_colab:
  df_OWID_COVID_Global = pd.read_csv('/content/drive/MyDrive/COVID_Project/input/OWID-COVID-Global/owid-covid-data.csv')
if using_Anaconda_on_Mac_or_Linux:
  df_OWID_COVID_Global = pd.read_csv("../input/OWID-COVID-Global/owid-covid-data.csv")
if using_Anaconda_on_windows:
  df_OWID_COVID_Global = pd.read_csv(r"..\input\OWID-COVID-Global\owid-covid-data.csv")
df_OWID_COVID_Global

      iso_code continent  ... life_expectancy human_development_index
0          AFG      Asia  ...           64.83                   0.498
1          AFG      Asia  ...           64.83                   0.498
2          AFG      Asia  ...           64.83                   0.498
3          AFG      Asia  ...           64.83                   0.498
4          AFG      Asia  ...           64.83                   0.498
...        ...       ...  ...             ...                     ...
53952      NaN       NaN  ...             NaN                     NaN
53953      NaN       NaN  ...             NaN                     NaN
53954      NaN       NaN  ...             NaN                     NaN
53955      NaN       NaN  ...             NaN                     NaN
53956      NaN       NaN  ...             NaN                     NaN

[53957 rows x 54 columns]

In [40]:
df_OWID_COVID_Global.shape

(53957, 54)

In [41]:
df_OWID_COVID_Global.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'Death / per capita',
       'new_deaths', 'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'total_tests', 'new_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'tests_per_case', 'positive_rate', 'tests_units', 'stringency_index',
       'population', 'Total deaths per million', 'Unnamed: 37', 'population.1',
       'population_density', 'median_age', 'aged_65_older', 'over 65/pop',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index'],
      dtype='object')

In [42]:
df_OWID_COVID_Global

      iso_code continent  ... life_expectancy human_development_index
0          AFG      Asia  ...           64.83                   0.498
1          AFG      Asia  ...           64.83                   0.498
2          AFG      Asia  ...           64.83                   0.498
3          AFG      Asia  ...           64.83                   0.498
4          AFG      Asia  ...           64.83                   0.498
...        ...       ...  ...             ...                     ...
53952      NaN       NaN  ...             NaN                     NaN
53953      NaN       NaN  ...             NaN                     NaN
53954      NaN       NaN  ...             NaN                     NaN
53955      NaN       NaN  ...             NaN                     NaN
53956      NaN       NaN  ...             NaN                     NaN

[53957 rows x 54 columns]

In [43]:
df_OWID_COVID_Global.describe()

        total_cases      new_cases  ...  life_expectancy  human_development_index
count  5.033000e+04   53045.000000  ...             6.00             6.000000e+00
mean   1.469059e+05    1740.178773  ...            64.83             4.980000e-01
std    1.473997e+06   15873.433805  ...             0.00             6.080942e-17
min    1.000000e+00   -8261.000000  ...            64.83             4.980000e-01
25%    1.530000e+02       0.000000  ...            64.83             4.980000e-01
50%    1.847000e+03      13.000000  ...            64.83             4.980000e-01
75%    1.875500e+04     209.000000  ...            64.83             4.980000e-01
max    4.615654e+07  545816.000000  ...            64.83             4.980000e-01

[8 rows x 49 columns]

In [44]:
locationvars = ['iso_code', 'continent', 'location', 'gdp_per_capita', 'hospital_beds_per_thousand']

In [45]:
df_OWID_COVID_Global[locationvars].isnull().sum(axis=0)

iso_code                       307
continent                      614
location                         0
gdp_per_capita                5951
hospital_beds_per_thousand    7619
dtype: int64

# Test code for finding missing data

In [50]:
if using_Google_colab:
  covidtotals = pd.read_csv('/content/drive/MyDrive/COVID_Project/input/TestFolder/COVIDTotalswithmissings.csv')
if using_Anaconda_on_Mac_or_Linux:
  covidtotals = pd.read_csv("../input/TestFolder/covidtotalswithmissings.csv")
if using_Anaconda_on_windows:
  covidtotals = pd.read_csv(r"..\input\TestFolder\covidtotalswithmissings.csv")
covidtotals

    iso_code lastdate        location  ...  median_age  gdp_per_capita  hosp_beds
0        AFG   6/1/20     Afghanistan  ...        18.6        1803.987       0.50
1        ALB   6/1/20         Albania  ...        38.0       11803.431       2.89
2        DZA   6/1/20         Algeria  ...        29.1       13913.839       1.90
3        AND   6/1/20         Andorra  ...         NaN             NaN        NaN
4        AGO   6/1/20          Angola  ...        16.8        5819.495        NaN
..       ...      ...             ...  ...         ...             ...        ...
205      VNM   6/1/20         Vietnam  ...        32.6        6171.884       2.60
206      ESH   6/1/20  Western Sahara  ...        28.4             NaN        NaN
207      YEM   6/1/20           Yemen  ...        20.3        1479.147       0.70
208      ZMB   6/1/20          Zambia  ...        17.7        3689.251       2.00
209      ZWE   6/1/20        Zimbabwe  ...        19.6        1899.775       1.70

[210 rows x 12 columns]

In [51]:
totvars = ['location','total_cases','total_deaths','total_cases_pm','total_deaths_pm']

In [52]:
demovars = ['population','pop_density','median_age','gdp_per_capita','hosp_beds']

In [53]:
covidtotals[demovars].isnull().sum(axis=0)

population         0
pop_density       12
median_age        24
gdp_per_capita    28
hosp_beds         46
dtype: int64

In [54]:
demovarsmisscnt = covidtotals[demovars].isnull().sum(axis=1)

In [55]:
demovarsmisscnt.value_counts()

0    156
1     24
2     12
3     10
4      8
dtype: int64